{{#extends 'base'}}

{{#block 'content'}}
<div class="hero-image">
    <div class="hero-wrapper">
        <a class="hero-button" href="/products">
            <h4 class="hero-text">Welcome to the Admin Page:</h4>
            <h1 class="hero-text"> Let's Roll!</h1>
        </a>
    </div>
</div>
{{/block}}

{{/extends}}