{{#extends "base"}}

{{#block "content"}}
<div class="container-fluid">
    <form method="POST">
        <input type="hidden" name="_csrf" value="{{csrfToken}}" />
        <div class="alert alert-danger">
            Are you sure you want to delete <strong>Order ID: {{order.id}}</strong>?
        </div>
        <input type="submit" value="Delete" class="btn allbtn">
        <a href="/orders" class="btn allbtn">Cancel</a>
    </form>
</div>
{{/block}}
{{/extends}}