{{#extends 'base'}}

{{#block 'content'}}

<div class="container-fluid">
    <div>
        <h3 style="text-align: center;">All Users </h3>
    </div>
    <div class="row">

        {{!-- <div class="col-12">
            <table class="table ">
                <thead>
                    <tr>
                        <th>User ID</th>
                        <th>Email</th>
                        <th>Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each users}}
                    <tr>
                        <td>
                            {{this.id}}
                        </td>
                        <td>
                            {{this.email}}
                        </td>
                        <td>
                            {{this.name}}
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div> --}}
</div>

{{/block}}
{{/extends}}