{{#extends "base"}}

{{#block "content"}}

<div class="register-form">
    <h3 style="text-align: center;">Login to Your Account</h3>
    <form method="POST" style="width:100%">
        <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
        {{{form}}}
        <div style="display:flex">
            <input type="submit" value="Login" class="btn btn-primary">
        </div>
    </form>
    <a href="/users/register" class="create-account">No account? Create a new account here</a>
</div>


{{/block}}
{{/extends}}