{{#extends "base"}}

{{#block "content"}}

<div class="register-form container">
    <h3 style="text-align: center;">Login to Your Account</h3>
    <form method="POST" style="width:100%">
        <input type="hidden" name="_csrf" value="{{csrfToken}}" />
        {{{form}}}
        <input type="submit" value="Login" class="btn allbtn">
    </form>
    <a href="/users/register" class="create-account nav-link">No account? Create a new account here</a>
</div>


{{/block}}
{{/extends}}