{{#extends "base"}}
{{#block "title"}}
{{/block}}
{{#block "content"}}

<div class="register-form">
    <h3 style="text-align: center;">Login to Your Account</h3>
    <form method="POST" style="width:100%">
        {{{form}}}
        <div style="display:flex">
            <input type="submit" value="Sign In">
        </div>
    </form>
    <a href="/users/register" class="create-acc">No account? Create a new account here</a>
</div>


{{/block}}
{{/extends}}