{{#extends "base"}}
{{#block "title"}}
{{/block}}
{{#block "content"}}

<div class="register-form">
    <h3 style="text-align: center;">Create New Account </h3>
    <form method="POST" style="width:100%">
        {{{form}}}
        <div style="display:flex">
            <input type="submit" value="Register" class="btn btn-primary">
        </div>
    </form>
</div>


{{/block}}
{{/extends}}