{{#extends "base"}}
{{#block "title"}}
{{/block}}
{{#block "content"}}

<div class="register-form container mb-3">
    <h3 style="text-align: center;">Create New Account </h3>
    <form method="POST" style="width:100%">
        <input type="hidden" name="_csrf" value="{{csrfToken}}" />
        {{{form}}}
        <div style="display:flex">
            <input type="submit" value="Register" class="btn allbtn">
            <a href="/" class="btn allbtn">Cancel</a>
        </div>
    </form>
</div>


{{/block}}
{{/extends}}