{{#extends "base"}}
{{#block "title"}}
{{/block}}

{{#block "content"}}

<div class="update-form container mb-5">
    <h3 style="text-align: center">Update Profile </h3>
    <form method="POST" style="width:100%">
        <input type="hidden" name="_csrf" value="{{csrfToken}}" />
        {{{form}}}
        <div>
            <input type="submit" class="btn allbtn" value="Update">
            <a href="/users/profile" class="btn allbtn">Cancel</a>
        </div>
    </form>
</div>
{{/block}}
{{/extends}}