{{#extends 'base'}}

{{#block 'content'}}
<h1>Create New Topping</h1>
<form method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}" />
    {{{form}}}

    <input type="submit" value="Add Topping" class="btn allbtn" />
    <a href="/products" class="btn allbtn">Cancel</a>
</form>
{{/block}}

{{/extends}}