{{#extends 'base'}}

{{#block 'content'}}
<h1>Create New Product</h1>
<form method="POST">
    <input type="hidden" value="{{csrfToken}}" name="_csrf"/>
    {{{form}}}
    <div>
        <a href="#" class="btn btn-primary my-3" id="upload_widget">Upload Image</a>
        <img src="" style="display:none" id="uploaded_image"/>
    </div>
    <input type="submit" value="Add Product" class="btn btn-primary"/>
    <a href="/products">Cancel</a>
</form>
{{/block}}

{{/extends}}