{{#extends 'base'}}

{{#block 'content'}}
<div class="row">
    <h1 class="col-9">Create New Ingredient</h1>
</div>
<form method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}" />
    <div class="col-8">
        {{{form}}}
    </div>
    <input type="submit" value="Add Ingredient" class="btn allbtn" />
    <a href="/products" class="btn allbtn">Cancel</a>
</form>
{{/block}}

{{/extends}}