{{#extends 'base'}}

{{#block 'content'}}
<h1>Deleting {{name}}</h1>

<form method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}" />
    <div class="alert alert-danger">
        <p>Are you sure you want to delete <strong>{{name}}</strong> ?</p>
    </div>
    <input type="submit" value="Delete" class="btn allbtn" />
    <a href="/products" class="btn allbtn">Cancel</a>

</form>
{{/block}}
{{/extends}}