{{#extends 'base'}}

{{#block 'content'}}
<h1>Update Ingredient: {{ingredient.name}}</h1>
<form method="POST">
    {{{form}}}
    <input type="submit" value="Update Ingredient" class="btn btn-primary"/>
</form>
{{/block}}

{{/extends}}