{{#extends 'base'}}

{{#block 'content'}}
<h1>Updating: {{name}}</h1>
<form method="POST">
    {{{form}}}
    <input type="submit" value="Update" class="btn btn-primary"/>
</form>
{{/block}}

{{/extends}}