{{#extends 'base'}}

{{#block 'content'}}
<h1>Update Cinnamon Roll: {{product.name}}</h1>
<form method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}" />
    {{{form}}}
    <div>
    <p>Image:</p>
    <input type="hidden" role="uploadcare-uploader" id="uploadcare" name="image" value="{{image}}"/>
    </div>
    <input type="submit" value="Update Product" class="btn btn-primary" />
    <a class="btn btn-primary" href="/products">Cancel</a>

</form>
{{/block}}

{{#block "js"}}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>

    UPLOADCARE_PUBLIC_KEY = "26b5265994e7410e82b0"

</script>
<script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.full.min.js" charset="utf-8">
</script>

{{/block}}

{{/extends}}